
<h2 style="margin-left: 20px;"> About</h2>

<blockquote>
 <span style="color:blue;font-size: large;font-weight: bold;">SS Healthcare </span>Hospitals was established in 1983 by Dr. Shathish C Reddy, renowned as the architect of modern healthcare in India. As the nation’s first corporate hospital, SS Healthcare Hospitals is acclaimed for pioneering the private healthcare revolution in the country.
</blockquote>

<blockquote>

    SS Healthcare Hospitals has emerged as Asia’s foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail health models. The Group also has Telemedicine facilities across several countries, Health Insurance Services, Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital Management and a Research Foundation. In addition, ‘ASK SS Healthcare’ – an online consultation portal and SS Healthcare Home Health provide the care continuum.
</blockquote>
<blockquote>
    
    The cornerstones of SS Healthcare’s legacy are its unstinting focus on clinical excellence, affordable costs, modern technology and forward-looking research & academics. SS Healthcare Hospitals was among the first few hospitals in the world to leverage technology to facilitate seamless healthcare delivery. The organization embraced the rapid advancement in medical equipments across the world, and pioneered the introduction of several cutting edge innovations in India. Recently, South East Asia’s first Proton Therapy Centre commenced operations at the SS Healthcare Centre in Chennai.
</blockquote>
<blockquote>
    
    Since its inception, SS Healthcare Hospitals has been honoured by the trust of over 150 million individuals who came from 140 countries. At the core of SS Healthcare’s patient-centric culture is TLC (Tender Loving Care), the magic that inspires hope amongst its patients.
</blockquote>

<blockquote>
   
    As a responsible corporate citizen, SS Healthcare Hospitals takes the spirit of leadership well beyond business and has embraced the responsibility of keeping India healthy. Recognizing that Non Communicable Diseases (NCDs) are the greatest threat to the nation, SS Healthcare Hospitals is continuously educating people about preventive healthcare as the key to wellness. Likewise, envisioned by Dr. Shathish C Reddy, the “Billion Hearts Beating Foundation” endeavours to keep Indians heart-healthy.

</blockquote>

  