<div id ="header">
    <span style="color: rgb(15, 250, 148); font-size: large;font-weight: bold;">Search: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Name : <input type="text" [(ngModel)] = "selectedname" > 

    <select id = "select" [(ngModel)] = "selected" [style.color] ="'black'">
        <option *ngFor="let x of types">{{x}}</option>
    </select>

    <button id = "dbtn" (click) = "toggle()"> New Doctor </button>
    

</div>

<div class="doctor-box" *ngIf="doctorlistform">
    <h2 style="margin-left: 20px;"> Doctor Panel List</h2>
    <app-doctor-box *ngFor="let x of doctors|doctorFilter:selected:selectedname" [doctor]="x">
    </app-doctor-box>
</div>

<div class="doctor-new" *ngIf="!doctorlistform">

    <app-doctor-new>

    </app-doctor-new>
</div>






<router-outlet></router-outlet>



