.doctor-box
{
    margin:  5px;
    padding: 5px;
    min-height: 50px;
    box-shadow: 2px 2px 5px rgb(81, 80, 80);
    background-color: rgb(255,251,251);
    width: 60%;
}
span{

    margin-left: 20px ;
    width :150px;
}
.name{

    color: rgb(255, 0, 157) ;
    font-weight: bold;
    

}

div{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
 
}
#name
{
  display:inline-block;
}
