<div class="doctor-box" >
    <span class="name"> Name  : </span> <span class="name" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{current.title}}  {{current.name | uppercase}} </span>
    <br>
    <span id = "Gender">Gender :</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current.gender}} </span>
    <br>
    <span id="specialty">Medical Specialty      :</span> <span>{{current.specialty}} </span>
    <br> 
    <span id="contact">Contact          :</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current.contact}}</span> 
    
</div>

